<!DOCTYPE html>
<html >
<head>
  <meta charset="utf-8">
  <title>GameFindr</title>
  <link rel="stylesheet" type="text/css" href="../styles.css">
  <script src="../GameFindr.js"></script>
</head>
<body ng-app="GameFindr">
	<section class="logo_search">
		<a href="#/"><h1>Game<span style="color: red;">Findr</span></h1></a>
		<h3>Your favorite video game news all in one place</h3>
		<input type="text" id="query" placeholder="What game are you looking for?"/>
	</section>
	<hr>
	<div ng-view></div>
</body>
</html>
