<div class="video_wrapper">
	<iframe ng-src="{{ trustedEmbedURL }}" width="840" height="472.5"  frameborder="0" allowfullscreen></iframe>
</div>
<div ng-if="elementExists(routeParams.videoId)">
	<div class="btn btn_unfav" value="&#9733;Unfavorite" ng-click="toggle(routeParams.videoId)"/>
		Unfavorite<span class="btn_star unfav_star">&#9733;</span>
	</div>
</div>
<div ng-if="!elementExists(routeParams.videoId)">
	<div class="btn btn_fav" ng-click="toggle(routeParams.videoId)"/>
		Favorite<span class="btn_star">&#9734;</span>
	</div>
</div>
<!--
<div class="addToFav-btn">
	<span class="vid_star">&#9733;</span> Favorite
</div>-->
<style>
	input[type="text"] {
		border: 0px;
		height: 0px;
		width: 0px;
		padding: 0px;
		font-size: 0px;
	}
	.fav_button {
		height: 50px;
		width: 100%;
		padding: 10px;
		font-size: 1.1em;
		transition: all 0.8s;
	}
</style>
