@import url(http://fonts.googleapis.com/css?family=Raleway|Open+Sans+Condensed:300);

* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}
 
hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
	background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
	background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
	background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
	margin-top: 20px;
	margin-bottom: 20px;
	transition: all 0.5s;
}

body  {
	background: 
		url("img/tetris.jpg") no-repeat center center, 
		#222222;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	text-align: center;
	
}

.logo_search {
	color: white;
	display: inline-block;
	padding-top: 0px;
	transition: padding 0.5s;
}


.logo {
	color: white;
	text-decoration: none;
	transition: color 0.5s;
}

.logo:hover {
	color: #BDBDBD;
	
}

.logo:active {
	color: #949494;
}

.logo_search h1{
	font-family: 'Raleway', sans-serif;
	font-size: 5em;
}

.logo_search h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	margin-bottom: 20px;
}

input[type="text"] {
	border:2px solid #222222;
	border-radius:10px;
	box-sizing: border-box;
	height: 50px;
	width: 100%;
	padding: 10px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.1em;
	transition: all 0.8s;
}
	input[type="text"]:focus {
		outline: 0;
	}

nav {
	position: fixed;
	top: 10px;
	left: 0;
	z-index: 1000;
}

.fav_nav {
	background: #222222;
	overflow: hidden;
	font-size: 32px;
	font-family: 'Open Sans Condensed', serif;
	width: 45px;
	transition: width 0.5s;
}

.fav_nav:hover {
	cursor: pointer;
	width: 100%;
}

.star {
	display: inline;
	color: yellow;
	padding: 0px 10px 0px 10px;
	border: 2px solid white;
}

.reveal {
	display: inline;
	color: white;
	margin-left: 5px;
	margin-right: 5px;
}
	
.results li {
	display: inline;
}

.results_wrapper {
	margin: 0 auto;
}

.results {
	position: relative;
	display: inline-block;
	width: 320px;
	height: auto;
	margin: 5px;
	transition: 0.5s
}

.title {
	box-sizing: border-box;
	position: absolute;
	padding: 5% 5px;
	top: 0;
	opacity: 0;
	transition: opacity 0.5s;
	text-decoration: none;
	width: 100%;
	color: white;
	font-family: 'Open Sans Condensed', serif;
	font-weight: bold;
}

.results:hover .title,
img:hover {
	-webkit-box-shadow: 0px 0px 78px 0px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 78px 0px rgba(255,255,255,1);
	box-shadow: 0px 0px 78px 0px rgba(255,255,255,1);
	transition: 0.5s;
	opacity: 1;
	background-color: rgba(67, 67, 67, 0.7);
}

.video_wrapper {
	position: relative;
	background-color: black;
	z-index: 2;
}

.btn {
	position: relative;
	top: -40px;
	display: inline-block;
	background-color: #222222;
	color: gray;
	padding: 10px;
	font-size: 22px;
	font-family: 'Open Sans Condensed', serif;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	transition: top 1s;
	z-index: 1;
	width: 94px;
}

.btn:hover {
	cursor: pointer;
	color: white;
	top: 0px;
}

.btn_star {
	display: block;
	font-size: 2em;
}

.btn_star.unfav_star {
	color: yellow;
}


